.spinner {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 5;
    mix-blend-mode: difference;
}

.isoWrapper {
    --inner-size: 70%;
    height: var(--inner-size);
    width: var(--inner-size);
    background-color: #fff;
    border-radius: 50%;
}

.circleWrapper {
    --side: 120px;
    width: var(--side);
    height: var(--side);
}
  
.circleText {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: .6rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    /* animation: spin 10s linear infinite; */
}
  
.circleText span {
    position: absolute;
    left: 50%;
    top: 0;
    transform-origin: 0 60px;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  