

/* .line-height-1 {
  line-height: 1;
} */

:root {
  --menu-transition: .6s all cubic-bezier(0.8, 0.11, 0.2, .9);
}

.button-outline[data-type="white"] {
  &::before {
    background-color: white;
  }
}
.button-outline[data-type="black"] {
  &:hover {
    color: white;
  }
  &::before {
    background-color: black;
  }
}

.button-outline {
  transition: .4s all cubic-bezier(0.1, 0.11, 0.2, .8) 0s;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    bottom: -110%;
    left: 0;
    mix-blend-mode: difference;
    transition: inherit;
  }
  &:hover {
    border: 1px solid #898f9d4a;
    scale: 1.1;
    &::before {
      bottom: 0;
      border-radius: 3rem;
    }
  }
}